@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #29235C;
  --accent: #E72C63;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f9fafb;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
